body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Outfit", sans-serif;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  max-width: 300px;
  height: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  text-align: center;
}

.img {
  object-fit: cover;
  width: auto;
  border-radius: 5%;
}

.card p {
  margin: 30px 10px;
  font-weight: 700;
}
